<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megha.movieplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TVFormat.TVShowDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".MovieFormat.SingleMovieActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignInPackage.SignInScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".NoInternetActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".MoviePlateReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".CelebsFormat.CelebrityDetailsActivity"></activity>
    </application>

</manifest>
